.random-planet {
    display: flex;
    font-display: row;
    font-size: 1rem;
    line-height: 1rem;
    padding: 2rem 5rem;
    min-height: 248px;;
    margin: 0 0 1rem;
    
    h4{
        font-size: 3rem;
        line-height: 3.25rem;
    }
    .planet-image {
        width: 175px;
        height: 175px;
        border-radius: 8px;
        margin-right: 20px;
    }
    .description{
        padding: 0 0 0 20px;
    }
    ul{
        list-style-type: none;
        padding: 0;
    }
    .term {
        margin-right: .5rem;
      }
.toggle-random-planet{
    margin: 0 0 1rem;
    width: 100px;
    height: 100px;
    font-size: 1rem;
    line-height: 1.25rem;

}
}